<div class="chat-container">
    <ul class="messages">
      <li *ngFor="let msg of messages">
        <div class="message">
          <span class="message-sender">{{ msg.sender }}</span>
          <span class="message-text">{{ msg.content }}</span>
          <span class="message-time">{{ msg.timestamp | date:'MMM dd, yyyy, hh:mm:ss a' }}</span>
  
        </div>
      </li>
    </ul>
    <input [(ngModel)]="message" placeholder="Type your message" />
    <button (click)="sendMessage()">Send</button>
  </div>